@import url(../navbar.css);

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#mainimage{
    margin-top: 10px;
    width: 100%;
    height: 5px;
}
#image{
    width: 100%;
}
#coverphoto{
    background-image: url(../images/storage_1920x1080.jpg);
    display: block;
    height: 650px;
    width: 100%;

}
#overlay{
    background: black;
    position: absolute;
    width: 100%;
    height: 650px;
    top: 99px;
    left: 0;
    opacity: 0.6;       
}
#paragrapgh{
    position: absolute;
    top: 327px;
    left: 335px;
    width: auto;
    height: auto;
    color: white;
    font-size: 57px;
    font-family: 'Lobster Two', cursive;
}
#middle{
    width: 100%;
    height: 570px;
    background-color: #f4f4f4f4;
    display: flex;
}
#about{
    display: flex;
    flex-direction: row;
}
#ap{
    margin-left: 0px;
}
#mimg{
    height: 388px;
    width: 600px;
    margin-left: 390px;
    margin-top: 35px;
}
#mheader{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    margin: 64px -54px 9px 0;
}
#mpara{
    font-size: 25px;
    font-family: "Lobster Two", cursive;
    margin: 0px 0px 0 82px;
    text-align: center;
}
#footer{
    width: 100%;
    height: 570px;
    background-color: #222222;
    display: flex;
}
#end{
    display: flex;
    flex-direction: row;
    height: 570px;

}
#vision{
    margin-left: 28%;
}
#vh,#mh{
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    color:wheat
}
#vp,#mp{
    font-family: "Lobster Two", cursive;
    font-size: 39px;
    color: aliceblue;
}
#mission{
    width: 67%;
}