@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

@import url('/navbar.css');

body {
  margin: 0px;
}



/* ----------------------------------------------------------------  CONTACTUS ---------------------------------------------------------------------------------*/
#contactus {
  display: flex;
  width: 100%;
  height: 1300px;
  flex-direction: column;
}

#header {
  width: 100%;
  height: 100px;
  background: #66b5bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header span {
  font-family: 'Changa', sans-serif;
  font-size: 25px;
  word-spacing: 15px;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 90px 10%;
}

.infotitle {
  font-family: 'Cinzel', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: 500;
  letter-spacing: 30px;
  font-size: 30px;
}

#contactinfo {
  margin: 50px 0;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

#contactinfo .infosections {
  width: 24%;
  height: 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #5e5e5e;
  border-radius: 15%;
  transition: all 0.5s;
}

.infosections:hover {
  box-shadow: 0px 0px 16px #6abbc1;
}

.infosections .fa-solid {
  font-size: 30px;
  padding: 20px;
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  margin: 0 0 10px 0;
  color: #5e5e5e;
  transition: all 0.3s;
}

.infosections:hover .fa-solid {
  color: #6abbc1;
  border: 3px solid #6abbc1;
}

.sectiontext {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-evenly;
}

.sectiontext span {
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: 100;
  transition: 0.2s;
}

.infosections:hover .sectiontext span {
  color: #6abbc1;
  font-weight: 400;
}

#getintouch {
  padding: 0 75px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
}

.form-groups {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.form-groups label {
  font-family: 'Montserrat', sans-serif;
  margin: 0 11px;
}

.form-groups .labelinput {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-groups input {
  border-radius: 15px;
  height: 35px;
  border: 1px solid grey;
  width: 325px;
  padding: 0 0 0 17px;
}

.form-groups:nth-child(2) {
  width: 93%;
}

.form-groups:nth-child(3) .labelinput {
  width: 93%;
}
.form-groups:nth-child(3) input {
  width: 100%;
}
.form-groups:nth-child(3) label {
  margin: 0 11px 0 39px;
}

.form-groups:nth-child(4) .labelinput {
  width: 95%;
}
.form-groups:nth-child(4) input {
  width: 85%;
  height: 175px;
}
.form-groups:nth-child(4) label {
    margin: 0 11px 0 39px;
}

#form #button {
  width: 15%;
  height: 50px;
  background: #66b5bb;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  transition: all 0.5s;
}

#form #button:hover {
  border: 3px solid #66b5bb;
  background: white;
  color: #66b5bb;
  font-weight: 500;
}