@import url(../head.css);

body {
  margin: 0px;
}

#header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header span {
  font-family: Montserrat;
  font-size: 35px;
  letter-spacing: 20px;
}

#container {
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px;
  border-radius: 50px;
  box-shadow: 0 0 25px lightgrey;
}

#container #pagmintation {
  width: 90%;
  height: 35px;
  position: absolute;
  top: 115px;
  left: 107px;
  display: flex;
}

#container #pagmintation .pages{
  width: 70px;
  text-align: center;
  background: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

#container #pagmintation .pages:hover{
  cursor: pointer;
  background-color: rgb(246, 246, 246) !important;
}


#container #pagmintation .pages::after{
  content: "";
  display: block;
  border-radius: 15px 15px 0 0;
  /* padding: 10px; */
  width: 90px;
  height: 25px;
  position: relative;
  top: -28px;
  left: -10px;
  box-shadow: 0 0 25px lightgrey;
  z-index: -1;
}

#container #body {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

#container #body table {
  width: 100%;
  border-spacing: 0 10px;
  left: 0%;
  position: absolute;
  transition: all 0.8s;
}

#container #body table #products {
  overflow-y: scroll;
}


#container #body table tr {
  height: 45px;
  width: 100%;
  transition: all 0.2s;
}

#container #body table .tabledata:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#container #body table tr th{
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 7px;
}

#container #body table tr th:nth-child(1) {width: 60px;}
#container #body table tr th:nth-child(2) {width: 100px;}
#container #body table tr th:nth-child(3) { width: 70px;}
#container #body table tr th:nth-child(4) {width: 60px;}
#container #body table tr th:nth-child(5) {}
#container #body table tr th:nth-child(6) {}
#container #body table tr th:nth-child(7) {width: 150px;}
#container #body table tr th:nth-child(8) {}
#container #body table tr th:nth-child(9) {}

#container #body table tr td {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  width: 132px;
}

#container #body table tr td p {
  height: 40px;
  width: 300px;
  overflow: hidden;
  margin: 0px;
}

#container #body table tr .icon {
  transition: all 0.4s;
}

#container #body table tr .icon:hover {
  cursor: pointer;
  background-color: red;
}

#container #body table tr .icon i {
  transition: all 0.4s;
}

#container #body table tr .icon:hover i {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}


#container #body #edit {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: all 0.8s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#container #body #edit form {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0;
  height: 100%;
  width: 100%;
}

#container #body #edit form > div {
  width: 70%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

#container #body #edit form input {
  height: 5%;
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  display: block;
  font-size: 12px;
  padding: 15px;
  width: 40%;
  transition: all 0.2s;
  font-size: 15px;
  margin: 10px;
}

#container #body #edit form input:focus {
  border: 1px solid lightgrey;
  box-shadow: 0 0 5px lightgrey;
  transform: scale(1.05);
  outline: 0px !important;
}

#container #body #edit form input[type="submit"] {
  width: 20%;
  opacity: 1;
  color: white;
  transition: all 0.4s;
  height: 11%;
}

#container #body #edit form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.6;
}

#container #body #edit form input[name="Update"] {
  background: mediumblue;
}

#container #body #edit form input[name="Add"] {
  background: limegreen;
}
#container #body #edit label input[type="file"] {
  display: none;
}

#container #body #edit #image{
  width: 50%;
  height: 450px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#container #body #edit #upload{
  width: 35%;
  height: 100%;
  background-color: rgb(48 48 48);
  position: absolute;
  top: 0px;
  right: 70px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.5s;
}

#container #body #edit #upload:hover{
  cursor: pointer;
  opacity: 0.5 !important;
}

#container #body #edit #upload div{
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 40px;
}
