@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0px;
}

/* Header */
#navbar {
  display: flex;
  height: 100px;
  box-shadow: 0px 0px 10px;
}

#logo {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo span {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
}

#pages {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageLink {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: black;
  font-size: large;
}

.pageLink:hover {
  font-weight: 500;
}

.pageLink::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #66b5bb;
  transition: width 0.3s;
}

.pageLink:hover::after{
  width: 100%;
}

#cart{
  width: 33%;
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cart i {
  font-size: 28px;
  margin: 0 75px 0 0;
  transition: all 0.3s;
}

#cart i:hover {
  color: #66b5bb;
  transform: scale(1.2);
}
